---
import ritratti1 from "../assets/ritratti/dan-patino-fotografia-ritratto-13.jpg";
import ritratti2 from "../assets/ritratti/dan-patino-fotografia-ritratto-1.jpg";
import ritratti3 from "../assets/ritratti/dan-patino-fotografia-ritratto-5.jpg";
import ritratti4 from "../assets/ritratti/dan-patino-fotografia-ritratto-7.jpg";
import ritratti5 from "../assets/ritratti/dan-patino-fotografia-ritratto-8.jpg";
import ritratti6 from "../assets/ritratti/dan-patino-fotografia-ritratto-3.jpg";
import ritratti7 from "../assets/ritratti/dan-patino-fotografia-ritratto-4.jpg";
import ritratti8 from "../assets/ritratti/dan-patino-fotografia-ritratto-6.jpg";
import ritratti9 from "../assets/ritratti/dan-patino-fotografia-ritratto-11.jpg";
import ritratti10 from "../assets/ritratti/dan-patino-fotografia-ritratto-9.jpg";
import ritratti11 from "../assets/ritratti/dan-patino-fotografia-ritratto-2.jpg";
import ritratti12 from "../assets/ritratti/dan-patino-fotografia-ritratto-10.jpg";
import ritratti13 from "../assets/ritratti/dan-patino-fotografia-ritratto-12.jpg";
import ritratti14 from "../assets/ritratti/dan-patino-fotografia-ritratto-14.jpg";
import matrimonio1 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-31.jpg";
import matrimonio2 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-32.jpg";
import matrimonio3 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-34.jpg";
import matrimonio4 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-33.jpg";
import matrimonio5 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-9.jpg";
import matrimonio6 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-12.jpg";
import matrimonio7 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-25.jpg";
import matrimonio8 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-13.jpg";
import matrimonio9 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-28.jpg";
import matrimonio10 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-29.jpg";
import matrimonio11 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-1.jpg";
import matrimonio12 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-2.jpg";
import matrimonio13 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-3.jpg";
import matrimonio14 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-4.jpg";
import matrimonio15 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-5.jpg";
import matrimonio16 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-6.jpg";
import matrimonio17 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-7.jpg";
import matrimonio18 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-8.jpg";
import matrimonio19 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-10.jpg";
import matrimonio20 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-11.jpg";
import matrimonio21 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-14.jpg";
import matrimonio22 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-15.jpg";
import matrimonio23 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-16.jpg";
import matrimonio24 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-17.jpg";
import matrimonio25 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-18.jpg";
import matrimonio26 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-19.jpg";
import matrimonio27 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-20.jpg";
import matrimonio28 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-21.jpg";
import matrimonio29 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-22.jpg";
import matrimonio30 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-23.jpg";
import matrimonio31 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-24.jpg";
import matrimonio32 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-26.jpg";
import matrimonio33 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-27.jpg";
import matrimonio34 from "../assets/matrimonio/dan-patino-fotografia-matrimonio-portfolio-30.jpg";
import moda1 from "../assets/moda/dan-patino-fotografia-moda-portfolio-12.jpg";
import moda2 from "../assets/moda/dan-patino-fotografia-moda-portfolio-13.jpg";
import moda3 from "../assets/moda/dan-patino-fotografia-moda-portfolio-11.jpg";
import moda4 from "../assets/moda/dan-patino-fotografia-moda-portfolio-5.jpg";
import moda5 from "../assets/moda/dan-patino-fotografia-moda-portfolio-10.jpg";
import moda6 from "../assets/moda/dan-patino-fotografia-moda-portfolio-2.jpg";
import moda7 from "../assets/moda/dan-patino-fotografia-moda-portfolio-3.jpg";
import moda8 from "../assets/moda/dan-patino-fotografia-moda-portfolio-4.jpg";
import moda9 from "../assets/moda/dan-patino-fotografia-moda-portfolio-1.jpg";
import moda10 from "../assets/moda/dan-patino-fotografia-moda-portfolio-6.jpg";
import moda11 from "../assets/moda/dan-patino-fotografia-moda-portfolio-7.jpg";
import moda12 from "../assets/moda/dan-patino-fotografia-moda-portfolio-9.jpg";
import close from "../assets/svg/close.svg";
import previous from "../assets/svg/left-caret.svg";
import over from "../assets/svg/right-caret.svg";
---

<div class="portfolio">
    <nav class="portfolio-menu">
        <a class="filters" id="filter-ritratti" href="portfolio/ritratti.html"
            >RETRATOS</a
        >
        <a
            class="filters"
            id="filter-matrimonio"
            href="portfolio/matrimonio.html">MATRIMONIO</a
        >
        <a class="filters" id="filter-moda" href="portfolio/moda.html">MODA</a>
    </nav>
    <div id="overlay">
        <div id="full-image">
            <div id="f-img">
                <span id="close">
                    <img src={close.src} alt="" />
                </span>
                <span id="previous">
                    <img src={previous.src} alt="" />
                </span>
                <img id="over-img" src="" />
                <span id="next">
                    <img src={over.src} alt="" />
                </span>
            </div>
        </div>
    </div>
    <div class="container-images">
        <div class="image ritratti">
            <img src={ritratti1.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti2.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti3.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti4.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti5.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti6.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti7.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti8.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti9.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti10.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti11.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti12.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti13.src} />
        </div>
        <div class="image ritratti">
            <img src={ritratti14.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio1.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio2.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio3.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio4.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio5.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio6.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio7.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio8.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio9.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio10.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio11.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio12.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio13.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio14.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio15.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio16.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio17.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio18.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio19.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio20.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio21.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio22.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio23.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio24.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio25.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio26.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio27.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio28.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio29.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio30.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio31.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio32.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio33.src} />
        </div>
        <div class="image matrimonio">
            <img src={matrimonio34.src} />
        </div>
        <div class="image moda">
            <img src={moda1.src} />
        </div>
        <div class="image moda">
            <img src={moda2.src} />
        </div>
        <div class="image moda">
            <img src={moda3.src} />
        </div>
        <div class="image moda">
            <img src={moda4.src} />
        </div>
        <div class="image moda">
            <img src={moda5.src} />
        </div>
        <div class="image moda">
            <img src={moda6.src} />
        </div>
        <div class="image moda">
            <img src={moda7.src} />
        </div>
        <div class="image moda">
            <img src={moda8.src} />
        </div>
        <div class="image moda">
            <img src={moda9.src} />
        </div>
        <div class="image moda">
            <img src={moda10.src} />
        </div>
        <div class="image moda">
            <img src={moda11.src} />
        </div>
        <div class="image moda">
            <img src={moda12.src} />
        </div>
    </div>
</div>

<style>
    .portfolio {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 160px 100px;
    }

    .portfolio .portfolio-menu {
        margin-bottom: 2px;
        padding: 5px;
        background-color: white;
    }

    .portfolio .portfolio-menu a {
        text-decoration: none;
        color: #888;
        font-size: 14px;
        font-family: MontserratB;
        padding: 0 12px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .portfolio .portfolio-menu a:hover {
        color: #bbb;
    }

    .portfolio #overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        z-index: 1111;
        background-color: black;
    }

    .portfolio #overlay #full-image {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px 0;
        margin: auto;
        -webkit-animation-name: onOverlay;
        animation-name: onOverlay;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }

    .portfolio #overlay #full-image div {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .portfolio #overlay #full-image div #previous,
    .portfolio #overlay #full-image div #next {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 40px;
        height: 40px;
        z-index: 1111;
    }

    .portfolio #overlay #full-image div #close {
        position: fixed;
        top: 0;
        right: 0;
        margin: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1111;
    }

    .portfolio #overlay #full-image div #next {
        right: 0;
    }

    .portfolio #overlay #full-image div img {
        height: 100%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .portfolio .container-images {
        background-color: white;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 80px 30px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .portfolio .container-images .image {
        width: 300px;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }

    .portfolio .container-images .image img {
        width: 100%;
        height: auto;
        padding: 10px;
        cursor: pointer;
    }

    @-webkit-keyframes onOverlay {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes onOverlay {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>
